body > header {
height: 520px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #3a0057;
background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
}

header img {
  margin-bottom: 10px;
}

.main {
  margin-top: 120px;
}

.name {
  color: rgb(179, 126, 58);
}

@media screen and (min-width: 1024px) {
  body > header {
    height: 60vh; 
    width: 25%; 
    position: fixed; 
    top: 195px;
    left: 35px;
    padding: 20px;
    background-color: saddlebrown;
    background-image:url("https://www.transparenttextures.com/patterns/diagmonds.png");
  }
}