nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 24px; /* This adds 1.5em of space on the right and left */
}

nav span {
  font-family: 'Bungee', sans-serif;
}

.fas.fa-angle-double-down {
  
  color: red;
  margin-left: 10px;
 padding-left: 45%;
}

@media screen and (min-width: 1024px) {
  nav {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    height: 120px;
  }

  #tweets-container {
    margin-left: 130px;
    width: 80%;
  }
}


