nav {
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 24px; /* This adds 1.5em of space on the right and left */
}

nav span {
  font-family: 'Bungee', sans-serif;
}

.new-tweet {
  float: right;
  display: flex;
  align-items: center;
}
.fas.fa-angle-double-down {
  display: flex;
  color: red;
  margin-left: 10px;
 align-items: flex-end;
}